.house-list {
  width: 100%;
}
.house-list .main-container {
  width: 100%;
}

.house-list .house-list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.house-list .total-results {
  text-align: right;
  margin: 16px 32px;
}

.house-list .main-loader {
  position: fixed;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.house-list .error-message {
  width: 200px;
  height: 120px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-top: -60px;
  margin-left: -100px;
}

.house-list .error-message svg {
  width: 64px;
  height: 64px;
}

.house-list .load-more-btn {
  display: block;
  margin: 16px auto;
}
